@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
    background-image: url("/assets/home/background-img.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    background-color: #0a0a0a;
}

body {
    background-color: black;
}